/* .App-header {
  background-color: #1d1d1d;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  color: white;
} */
/* 
a {
  color: #bd0c79;
  text-decoration: none;
}

button {
  color: #bd0c79;
}

.header__home ul {
  display: none;
}

.header__home:hover ul, ul:hover {
  display: block;
} */

